#about {
    padding: 17rem 0;
    color: color(white);
    background: center/cover color(accent-dark) url('../img/watermark.svg');

    .about {
        position: relative;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: $phones) {
            flex-direction: row;
            align-items: baseline;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 53%;
            transform: translateY(-50%);
            height: 1px;
            width: 60%;
            margin: 0 auto;
            background-color: color(white);
            transition: all 0s;

            @media (min-width: $phones) {
                height: 100%;
                width: 1px;
                top: 0;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .about-item {
        max-width: 40rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__icon-container {
            width: 13.8rem;
            height: 13.8rem;
            border-radius: 2.8rem;
            background-color: color(white);
            display: grid;
            place-items: center;
        }

        &__title {
            line-height: 10rem;
            font-size: 4rem;
            font-weight: 900;
            color: color(accent-light);
        }

        &__text {
            color: color(white);
            text-align: center;
            font-size: 3rem;
        }

        &:first-child {
            padding-bottom: 10rem;
            margin-bottom: 10rem;

            @media (min-width: $phones) {
                margin-bottom: 0;
                padding-bottom: 0;
                margin-inline-end: 20rem;
            }
        }

        &:hover,
        &:focus {
            cursor: pointer;
            transform: translateY(-2rem);

            .about-item__icon-container {
                box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
            }
        }
    }
}