header {
    background-color: color(white);
}

.navbar {
    height: 24.4rem;
    background-color: color(accent-light);
    border-bottom-left-radius: 5.4rem;
    border-bottom-right-radius: 5.4rem;

    .container {
        height: 100%;
        display: grid;
    }

    @media (min-width: $phones) {
        padding: 0 3.5rem;
    }

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
        height: auto;
        padding: 2rem 0;
        border-radius: 0;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.07);

        .navbar-container {
            margin-bottom: 0;
        }

        .logo .svg {
            margin-bottom: 0;
            width: 15rem;
            height: 5rem;
        }
    }


    &-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        align-self: end;
        margin-bottom: 6rem;

        @media (min-width: $phones) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &-nav {
        .nav-link {
            margin-inline-end: 1.2rem;

            &:last-child {
                margin-inline-end: 0;
            }
        }
    }

    .logo {
        .svg {
            width: 21rem;
            height: 8.7rem;
            margin-bottom: 2rem;
        }

        &:hover,
        &:focus {
            transform: scale(1.05);
        }
    }
}

.header {
    height: 64rem;
    text-align: center;
    margin: 0 10rem;
    display: grid;
    place-items: center;

    .main-logo {
        width: 100%;
        max-width: 63rem;
        height: 26rem;
        object-fit: contain;
    }
}